* {
  resize: none;
}
.form {
  margin: 50px auto;
  width: 300px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 20px) 70px 20px;
  grid-template-areas:
    "pseudo ."
    "email ."
    "message message"
    ". submit";
}

.pseudo {
  grid-area: pseudo;
}
.email {
  grid-area: email;
}
.message {
  grid-area: message;
}
.submit {
  grid-area: submit;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 50%;
  margin: 10px auto;
}
